/*
!.gitignore
!README.md
!.htaccess
!wp-config.php

!wp-reader/**/*
!wp-edit/**/*

!wp-content
wp-content/*
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/rest-post-editor/
!wp-content/plugins/rest-post-editor/**/*